 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-unrealengine-original colored"></i>
      <i class=""></i>
      <i class="devicon-csharp-plain colored"></i>
      <i class="devicon-unity-plain colored"></i>
      <p>Comfortable in C# / Unity3D and C++ / UE5 as my everyday tools. I love C++ since my young age, and I continue to discover its latest features.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-rider-plain colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <!--<i class="devicon-unity3d-plain"></i>
      <i class="devicon-qt-plain"></i>!-->
      <p>Comfortable with Visual Studio, Rider, and Git.</p>
    </div>
</div>

