 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-csharp-plain colored"></i>
      <p>Confortable in using C# with Unity3D as my daily tools. I love C++ since my young age, and i continue to discover its latest features. I like playing Werewolf UHC in Minecraft, and Rounds </p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <!--<i class="devicon-unity3d-plain"></i>
      <i class="devicon-qt-plain"></i>!-->
      <p>Confortable with Visual Studio 2019, and Git.</p>
    </div>
</div>
