<style>

ol > li::marker {
    font-weight: bold;
}
.initialBold
 {
    font-weight: bold;
 }

.itemMargin
{
    margin-bottom: .5rem;
}
.logo-size
{
    width: 140px;
    text-align:left;
}
</style>

<div class="user-details">
  <h1> My Expertise </h1>
  <h4 style="text-align: center; font-size: 1.1 rem;">I work with studios and indie developers to implement gameplay systems, multiplayer features, and technical solutions that turn game ideas into polished, playable experiences.</h4>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-csharp-plain colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-unity-plain colored"></i>
      <i class="devicon-unrealengine-original colored"></i>
      <i class="devicon-git-plain"></i>
      <i class="devicon-rider-plain colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <!--<i class="devicon-unity3d-plain"></i>
      <i class="devicon-qt-plain"></i>!-->
    </div>
</div>
<div class="user-projects">
  <div class="contents-right">
    <h2>How I work</h2>
    <ol>
      <li class="itemMargin"><span class="initialBold">Understand the Feature – </span>Discuss the gameplay mechanic or system requirements.</li>
      <li class="itemMargin"><span class="initialBold">Prototype – </span>Implement a functional version for early testing.</li>
      <li class="itemMargin"><span class="initialBold">Iteration – </span>Refine the system based on feedback.</li>
      <li class="itemMargin"><span class="initialBold">Optimization &amp; Polish – </span>Ensure performance and code quality.</li>
      <li class="itemMargin"><span class="initialBold">Integration – </span>Deliver the feature cleanly integrated into the project.</li>



    </ol>
    
</div>  
    
  
  <div class="contents-left">
    <h2>My offer</h2>
    <ul>
      <li class="itemMargin">Transforming game concepts into polished game features</li>
      <li class="itemMargin">Design and implementation of scalable gameplay systems such as inventory, abilities systems.</li>
      <li class="itemMargin"> Development of networked gameplay systems including client-side prediction and smoothing</li>
      <li class="itemMargin">Debugging and optimization of gameplay systems to maintain smooth performance during gameplay.</li>
      <li class="itemMargin">Development of editor tools and systems to help increase your team's iteration time.</li>
    </ul>
    
</div>
</div>

<div>
  <h2>Companies I worked for</h2>
  <div class="user" style="text-aligh: left;">
  
  <div class="tech">
    <img alt="Andarion Games Logo" src="../assets/img/andarion-games-black-and-white-logo.png" class="logo-size" />
    <img alt="ASN Logo" src="../assets/img/ASN Logo - Gray version RGB.png" class="logo-size" />
    <img alt="Quantorion Logo" src="../assets/img/quantorion_logo.jpg" class="logo-size" />

      
    </div>
</div></div>

