<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> R D </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>R D is a 3D RPG Game Prototype with Bow Arrow Mechanics and Melee.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/Workshop.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Workshop </h3>
    <ul>
      <li>Unity3D Editor Scripting</li>
      <li>C#</li>
    </ul>
    <p>A Drag and Drop Unity Editor Tool to quickly select GameObjects and Organize them as SaveLists instead of the Hierarchy default Inspector.</p>
    <a class="project-link" href="https://github.com/RedaMazoz/Workshop">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img style="margin-top: 100px; " alt="germantrainer" src="{{ "/assets/img/germantrainer.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> German Trainer </h3>
    <ul>
      <li>C++11</li>
      <li>Qt5</li>
    </ul>
    <p>A German Vocabulary Trainer Multi Platform App that lets you put your words to learn and their translations in an Excel file, in order to quickly learn German Vocabulary.</p>
    <a class="project-link" href="https://github.com/RedaMazoz/GermanTrainer">Check it out</a>
  </div>
</div>
