<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" style = "filter: contrast(1.3) brightness(2.5);  height: 200px;  width: 900px;"src="{{ "/assets/img/spiele.png" | prepend: site.baseurl }}" />
    <img alt="mountains" style = "filter: contrast(1.3) brightness(2.5);  height: 200px;  width: 900px;"src="{{ "/assets/img/3d-spiele-env.png" | prepend: site.baseurl }}" />
    <img alt="mountains" style = "filter: contrast(1.3) brightness(2.5);  height: 200px;  width: 900px;"src="{{ "/assets/img/3d-spiele-bow.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Adventure Game Prototype </h3>
    <ul>
      <li> C# </li>
      <li> Unity 3D </li>
    </ul>
    <p>A 3D Adventure RPG Game Prototype with Bow/Arrow Mechanics, Melee, and Magic.</p>
    <a class="project-link" href="https://youtu.be/WZBsuBR2Phg">Youtube</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <iframe width="460" height="315" src="https://www.youtube.com/embed/WAqYj0Swk2U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="460" height="315" src="https://www.youtube.com/embed/K42AnL_STmo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="contents-right">
    <h3> Run For Likes </h3>
    <ul>
      <li>Unity3D</li>
      <li>C#</li>
    </ul>
    <p>Run For Likes is a Hypercasual Runner game prototype that I've been developing for Andarion Games. The goal for the player is to gather Likes, Positive Emojis, and Powerups as taking a selfie with a celebrity while choosing between 2 gates.
 On this prototype, I worked on some special game mechanics such as: the selfie feature, The banana slip, and the tornado random behaviour. I also got to improvise an anti-cheat feature, which forces players to enter 1 gate at a time.</p>
  <a class="project-link" href="https://drive.google.com/file/d/1L4Dfxmq-f-Tlba2bU8II7sC_UDkBpw-9/view?usp=sharing">Internship</a>
</div>  
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains1" src="{{ "../assets/img/SN-3.png" | prepend: site.baseurl }}" />
    <img alt="mountains2" src="{{ "../assets/img/SN.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Surface Nets </h3>
    <ul>
      <li>HLSL</li>
      <li>C#</li>
    </ul>
    <p>Implementation of Surface Nets, a procedural world generation algorithm that I coded to generate an Infinit World of Caves. For better performance, the algorithm calculations were initially made on GPU with Compute Shaders, before passing the mesh data to the CPU for generating the terrain's collider.</p>
    <a class="project-link" href="https://github.com/RedaMazoz/Surface-Nets">Github</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "../assets/img/Workshop.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Workshop </h3>
    <ul>
      <li>Unity3D Tools Scripting</li>
      <li>C#</li>
    </ul>
    <p>A Drag and Drop Unity Editor Tool to quickly select GameObjects and organize them as Saving lists instead of struggling with the Hierarchy default Inspector.</p>
    <a class="project-link" href="https://github.com/RedaMazoz/Workshop">Github</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img style="margin-top: 100px; " alt="germantrainer" src="{{ "/assets/img/germantrainer.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> German Trainer </h3>
    <ul>
      <li>C++11</li>
      <li>Qt5</li>
    </ul>
    <p>A German Vocabulary Trainer Multi Platform App that lets you put your words to learn and their translations in an Excel file, in order to quickly learn German Vocabulary. The Software is choosing words randomly for you.</p>
    <a class="project-link" href="https://github.com/RedaMazoz/GermanTrainer">Github</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "../assets/img/s4lx.PNG" | prepend: site.baseurl }}" />
 </div>
  <div class="contents-right">
    <h3> S4LX </h3>
    <ul>
      <li>Design Thinking</li>
      <li>UI/UX Design</li>
      <li>Figma</li>
      <li>Qt6</li>
      <li>C++17</li>
    </ul>
    <p> S4LX is a non-repeated network system design tool, I redesigned and ported from VB.net / VBScript to Qt6 / C++17 with a modern animated interface for ASN (Nokia) part of my graduation project.</p>
</div>  
</div>
